@{
    ViewData["Title"] = "About";
}

<header class="py-5 text-center"></header>
<header class="py-5 text-center">
    <section>
        <div class="container">
            <div class="masthead-content">
                <div class="container">
                    <h1 class="masthead-heading mb-0">Brain Builder Games</h1>
                </div>
            </div>
        </div>
    </section>
</header>
<section>
    <div class="container">
        <div class="row align-items-center">       
            <div class="col-lg-6">
                <div class="p-5">
                    <h2 class="display-4">Brain Builder Games Staff</h2>
                    <p>James Parks - Project Leader/Game Programmer</p>
                    <p>Jordan Sommer - Diagrams/Game Programmer</p>
                    <p>Kernen Yabut - Front End/Back End/Database/Testing</p>
                </div>
                <div class="p-5">
                    <h2 class="display-4">Resources Used</h2>
                    <p>Avatars - <a href="https://avatars.dicebear.com/">DiceBear Avatars</a></p>
                    <p>UI Elements - <a href="https://www.bootdey.com/">Bootdey</a></p>
                    <p>Data Charts - <a href="https://developers.google.com/chart/interactive/docs/quick_start">Google Developers</a></p>
                    <p>Code Help - <a href="https://stackoverflow.com/">Stack Overflow</a></p>
                    <p>UI Library - <a href="https://getbootstrap.com/">Bootstrap</a></p>
                    <p>Testing - <a href="https://www.selenium.dev/">Selenium</a></p>
                    <p>Icons - <a href="https://www.flaticon.com/authors/smashicons">SmashIcons</a></p>
                </div>
            </div>
        </div>
    </div>
</section>

